<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/nlog.txt">
  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File" name="file" fileName="${basedir}/logs/logfile.log"
            archiveFileName="${basedir}/archives/log.{#}.txt"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=ToString}" 
            keepFileOpen="true" archiveNumbering="Rolling" archiveOldFileOnStartup="true"
            archiveEvery="Hour" concurrentWrites="false" maxArchiveFiles="168" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
